<%# list of movie with overview and rating %>
<div class="container mt-12 d-flex">
  <div class="col-6">
    <div class="show-img"><%= image_tag(@tool.image)%></div>
    <div class="card-body">
      <p> <%= @tool.description %></p>
      <p> <%= @tool.condition %></p>
    </div>
  </div>
  <div class="col-6">
    <h3><%= @tool.name %></h3>
    <p>$<%= @tool.rate %>/day</p>
    <button type="button" class="btn btn-flat" data-bs-toggle="modal" data-bs-target="#tool_modal">
      <%= link_to "Check price and availability", new_tool_booking_path(@tool.id), class: "btn btn-flat"%>
    </button>

  </div>
</div>
