<%# list of movie with overview and rating %>
<div class="container mt-12 d-flex">
  <div class="col-8">
    <div class="show-img"><%= image_tag(@tool.image)%></div>
    <div class="card-body">
      <h3>Description</h3>
      <p> <%= @tool.description %></p>
      <p><strong>Condition:</strong> <%= @tool.condition %></p>
      <h5>Location</h5>

      <div style="width: 100%; height: 300px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

  <div class="col-4 pt-5" id="showpage" >
    <h3 class="tool-show"><%= @tool.name %></h3>
    <div class="showcard d-flex" style="justify-content:space-between;">
      <p>Item by <%= @tool.user.first_name %>
      <p><i class="fa-solid fa-star" style="color: #e6d72d;"></i> <%= @tool.rating %></p>
    </div>

    <div class="tool-rate">Daily Rate
      <p><strong>$<%= @tool.rate %></strong> /day</p>
    </div>
    <div data-controller="toggle" class="mt-5">
      <button data-action="click->toggle#fire" class="showtoolbtn">Price and Availability</button>
      <div data-toggle-target="togglableElement" class="d-none">
        <%= render "bookings/form", tool: @tool, booking: @booking %>
      </div>
    </div>
  </div>

</div>
