<%# list of movie with overview and rating %>
<div class="container mt-12 d-flex">

  <div class="col-6">
    <div class="show-img"><%= image_tag(@tool.image)%></div>
    <div class="card-body">
      <p> <%= @tool.description %></p>
      <p> <%= @tool.condition %></p>
    </div>
  </div>
  <div class="col-6">
    <h3><%= @tool.name %></h3>
    <p>$<%= @tool.rate %>/day</p>
    <button type="button" class="btn btn-flat" data-bs-toggle="modal" data-bs-target="#tool_modal">
      <%= link_to "Check price and availability", new_tool_booking_path(@tool.id), class: "btn btn-flat"%>
    </button>

  </div>

  <div class="row" d-flex>
    <div class ='col-4'>
      <div data-controller="booking-price" data-booking-price-price-value="<%= @tool.rate %>" class="mt-5 border p-3 rounded">
        <!-- Displays price/night on top of form -->
        <p class='fw-bold fs-3'>Rate: $<%= @tool.rate%> <small class='fw-light'>/day</small></p>
        <%= simple_form_for [@tool, @booking] do |f| %>
          <!-- On change of dates, it triggers our update inside of our JS controller -->
          <%= f.input :start_date, html5: true, input_html: { data: { booking_price_target: 'start_date', action: 'change->booking-price#update' }, min: Date.today } %>
          <%= f.input :end_date, html5: true, input_html: { data: { booking_price_target: 'end_date', action: 'change->booking-price#update' }, min: Date.today } %>
          <%= f.submit 'Book the Item', class: 'btn btn-primary my-4' %>
          <!-- Hidden when no dates chosen, total amount displayed here when changed -->
          <p class='mt-3 d-flex align-items-center justify-content-between'>
            <span data-booking-price-target='info'></span>
            <span class='fw-bold' data-booking-price-target='price'></span>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
