<p> Your Booking is Confirmed!</p>
 <p> Booked dates - <%= @booking.start_date %> to <%= @booking.end_date %></p>
 <p> Tool - <%= @tool.name %></p>
 <p> Description - <%= @tool.description %></p>
 <p> Total Price -<%= @booking.price %></p>
 <p> Lender Name - <%= @user.first_name %>  <%= @user.last_name %></p>
 <p> Lender Address -  <%= @user.address %></p>
 <p> Lender Phone Number -  <%= @user.phone_number %></p>
