<div class="container-fluid mt-5">

  <div class="row">
    <div class="col-3 sm-3" id="dashboard-profile">
      <div class="row">
        <div class="profile-dash p-5">
          <%= image_tag "https://i.pravatar.cc/150?img=68", class: "profile-img", alt: "image" %>
        </div>
        <div class="profile pt-5">
        <h3><%= @user.first_name %> <%= @user.last_name  %></h3>
        <p><%= @user.email %></p>
        <%=link_to "Profile Detail",  edit_user_registration_path, class: "dash-profile" %>
        <%=link_to "My Listing",  mylisting_path, class: "dash-listing" %>
        </div>
      </div>
    </div>

    <div class="col-8 sm-6" id="dashboard-bigcard">
      <div class="top-dash d-flex" style="justify-content: space-between;">
        <div class="topdash-left">
          <h2>Hello, <%= @user.first_name %></h2>
          <h3>Today is <%= @day %>
        </div>
        <div class="topdash-right">
          <%=link_to "Add Listing",  new_tool_path, class: "btn btn-flat" %>
        </div>
      </div>

      <div class="row">
        <div class="card" style="width: 25rem;" id="total-listing">
          <h3>TOTAL LISTING</h3>
          <p><%= @tools.length %> items </p>
        </div>
        <div class="card" style="width: 25rem;" id="total-booking">
          <h3>WHAT I EARNED</h3>
          <% total_value = 0 %>
          <% @booking.each do |t| %>
            <% total_value += t.price%>
          <% end %>
          <p><strong>$ <%= total_value %></strong></p>
      </div>

<%# BOOKING INFORMATION %>
      <div class="booking-tab">
        <div
          data-controller="tabs"
          data-tabs-active-class="activetab"
          data-tabs-default-tab-value="tab1">

          <!-- buttons to toggle between tabs -->
          <div class="flex">
            <button id="tab1" data-tabs-target="btn" data-action="click->tabs#select">Current Renting</button>
            <button id="tab2" data-tabs-target="btn" data-action="click->tabs#select">My Rental</button>
          </div>

          <!-- the tabs -->
          <div class="tab-body">
            <div data-tabs-target="tab" id="tab1">
              <%= render 'currentrent' %>
            </div>

            <!-- tab 2 is hidden by default, to prevent 'flashing in' -->
            <div data-tabs-target="tab" id="tab2" class='hidden'>
              <%= render 'myitemrental' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
